.btn {
  background-color: rgba(68, 184, 255, 0.85);
  margin-right: 16px;
  padding: 10px 20px;
  border-radius: 0.25rem;
  color: #111827;
  font-weight: 500;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}
