.projects {
  /* border: 1px solid rgb(35, 62, 210); */
  width: 60%;
}

.title {
  margin-bottom: 26px;
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  word-spacing: -0.1rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
