.projects {
  /* border: 1px solid rgb(35, 62, 210); */
  width: 60%;
  padding-top: 100px;
  /* margin-bottom: 160px; */
}

.title {
  margin-bottom: 26px;
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: -0.2rem;
  word-spacing: 0.05rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 1240px) and (max-width: 1840px) {
  .projects {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .projects {
    width: 100%;
    padding-top: 60px;
  }

  .title {
    margin-bottom: 24px;
    font-size: 32px;
  }
}
