.navbar {
  margin: 50px auto;
  padding: 16px 36px;
  width: 300px;
  background-color: #1f2937;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 12px;
  overflow: hidden;
}

.navbar-links {
  background-color: #1f2937;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-links li,
.navbar-links li a,
.about {
  background-color: #1f2937;
  text-decoration: none;
  color: #fff;
}

.navbar-links li {
  background-color: #1f2937;
}

.navbar-links li a {
  transition: all 0.1s;
}

.navbar-links li a:hover {
  color: rgb(205, 205, 205);
}

.about {
  background-color: #1f2937;
}

@media (max-width: 767px) {
  .navbar {
    margin: 20px auto;
    padding: 16px 10px;
  }
}
