.btn {
  background-color: rgba(1, 187, 254, 0);
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 0.25rem;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}
