.form-container {
  padding-top: 180px;
  margin-bottom: 420px;
  width: 30%;
  text-align: center;
}

.title {
  margin-bottom: 30px;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: -0.2rem;
  word-spacing: 0.05rem;
}

.title span {
  color: rgb(139 204 240);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.email-input,
.message-input {
  padding: 10px;
  border: 2px solid #bfbfbf;
  border-radius: 0.25rem;
  background-color: rgba(255, 0, 0, 0);
  outline: none;
}

.email-input::placeholder,
.message-input::placeholder {
  color: #bfbfbf;
}

.email-input:focus,
.message-input:focus {
  border-color: #fff;
}

.message-input {
  margin: 20px 0;
  height: 200px;
}

.submit-btn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 0.25rem;
  background-color: rgba(68, 184, 255, 0.85);
  font-weight: 600;
  color: #111827;
}

.after-msg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 400px 0;
}

.after-message {
  width: 66%;
  text-align: center;
}

.check-icon {
  color: rgb(55, 200, 152);
  font-size: 40px;
}

@media (min-width: 1240px) and (max-width: 1840px) {
  .form-container {
    width: 36%;
  }
}

@media (max-width: 767px) {
  .form-container {
    width: 90%;
  }

  .title {
    font-size: 32px;
  }
}
